<a href="https://colab.research.google.com/github/noahgift/1minutetip/blob/master/link_to_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/1962_2006_walmart_store_openings.csv")

In [2]:
df.describe()

,storenum,conversion,st,county,ZIPCODE,LAT,LON,MONTH,DAY,YEAR
count,2992.000000,1946.000000,2992.000000,2992.000000,2992.000000,2992.000000,2992.000000,2992.000000,2992.000000,2992.000000
mean,1809.838235,0.800103,28.956217,101.030414,54077.080882,36.803160,-91.582521,6.432487,15.108623,1990.793783
std,1362.727189,0.400026,16.061538,105.534836,23652.129967,4.818443,12.051487,3.492092,10.999463,8.572069
min,1.000000,0.000000,1.000000,1.000000,10547.000000,25.431506,-124.210860,1.000000,1.000000,1962.000000
25%,777.750000,1.000000,16.000000,37.000000,33522.000000,33.415925,-96.681565,3.000000,3.000000,1985.000000
50%,1540.500000,1.000000,29.000000,77.000000,52648.000000,36.753618,-88.955250,7.000000,16.000000,1990.000000
75%,2534.250000,1.000000,45.000000,125.000000,75061.500000,40.409729,-82.619280,10.000000,26.000000,1998.000000
max,5498.000000,1.000000,56.000000,840.000000,99352.000000,48.759079,-72.637078,12.000000,31.000000,2006.000000