<a href="https://colab.research.google.com/github/noahgift/1minutetip/blob/master/sync2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project

## Ingest

### inital imports

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
!pip install -q pandas

     |████████████████████████████████| 10.1MB 2.8MB/s

In [1]:
!ls -l

total 9220
drwxr-xr-x 1 root root    4096 May  8 16:22 sample_data
-rw-r--r-- 1 root root 9437184 May 11 02:12 Zip_Zhvi_SingleFamilyResidence_2018.csv

Please upload 

```
"Zip_Zhvi_SingleFamilyResidence_2018.csv"
```

In [4]:
import pandas as pd
df = pd.read_csv("Zip_Zhvi_SingleFamilyResidence_2018.csv")
df.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,334200.0,335400.0,336500.0,...,1037400,1038700,1041500,1042800,1042900,1044400,1047800,1049700,1048300,1047900
1,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,2,210400.0,212200.0,212200.0,...,330400,332700,334500,335900,337000,338300,338400,336900,336000,336500

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/noahgift/real_estate_ml/master/data/Zip_Zhvi_SingleFamilyResidence.csv")

In [6]:
df.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,84654.0,60657.0,Chicago,IL,Chicago,Cook,1.0,420800.0,423500.0,426200.0,...,1097900.0,1098300.0,1094700.0,1088500.0,1081200.0,1073900.0,1064300.0,1054300.0,1048500.0,1044400.0
1,84616.0,60614.0,Chicago,IL,Chicago,Cook,2.0,542400.0,546700.0,551700.0,...,1522800.0,1525900.0,1525000.0,1526100.0,1528700.0,1526700.0,1518900.0,1515800.0,1519900.0,1525300.0

## EDA

## Modeling

## Conclusion